*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,500;1,6..12,500&family=Roboto:wght@400;500;700&display=swap');
 
 
body{
  display:flex;
  height: 100vh;
  justify-content:center;
  align-items: center;
 }

 .digital-clock{

  color:white;
  background-color:rgb(25, 25, 88);
  width: 75%;
  height: 60%;
  padding: 20px 45px ;
  box-shadow: 0 10px 25px blueviolet;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items:  center;
  flex-direction: column;
  position: relative;
 }
 .time{
  display:flex;
  justify-content: center;
  align-items: center;
 }
 .hours,.colon,.minutes,.second
 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:200px;
  font-weight: 600;
  padding:0 10px;
 }

 .colon
 {
  font-size:100px;
  color:rgb(133, 129, 129)
 }
.date{
  display:flex;
  font-size: 36px;
  bottom: 17px;
  position: absolute;
}
 